pandas
pyarrow
faker
pyspark
delta-spark
jupyter
ipykernel
pytest

chromadb
sentence-transformers
anthropic
langchain
langchain-community
langchain-chroma

fastapi
uvicorn
pydantic
boto3
streamlit
requests